# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
.gradle/
/nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# Visual Studio Code
.vscode/

# Node.js and frontend
# Ignorar dependências do Node.js
/ClinicalLab/ClinicalLab-Apresentacao/frontend/node/
/ClinicalLab/ClinicalLab-Apresentacao/frontend/node_modules/
node_modules/
ClinicalLab/ClinicalLab-Apresentacao/frontend/node/node
ClinicalLab/ClinicalLab-Apresentacao/frontend/node/npm
ClinicalLab/ClinicalLab-Apresentacao/frontend/node/npm.cmd


dist/
build/
yarn.lock
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs and temporary files
*.log
tmp/

# OS-specific files
.DS_Store
Thumbs.db

# Compiled class files
*.class

# Local configuration files
*.launch
.metadata/
.recommenders/
.org.eclipse.core.resources/

# Binary directories
bin/

# PlantUML
src-gen/
