### Project Help Files ###
HELP.md

### Ignore Maven build output ###
**/target/

### Ignore IDE specific files ###
# Eclipse
*.classpath
*.project
.settings/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Visual Studio Code
.vscode/

### Ignore temporary or system files ###
# macOS
.DS_Store

# Windows
Thumbs.db
